<footer>
    <a href="https://cci.charlotte.edu/departments/software-and-information-systems-sis/scholarships/cybercorps-scholarship-service-sfs/" class="y">©UNCC CyberCorps SFS</a>
    <a href="/connections/about" class="y">ABOUT</a>
    <a href="/connections/contact" class="y">CONTACT</a>
</footer>
</html>