<%- include('./partials/header.ejs') %>
<style>
    footer{
position: absolute;
bottom: 0;
width: 100%;
}   
</style>
<body>
    <div class="container">
    <h1>Welcome to the UNCC SFS CyberCorps Connections site</h1>
    <p>Attend and create SFS events to connect with other memenbers. Post internship openings or personal development opportunities</p>
    <p>Check out the Connections section to browse available connections!</p>
    </div>
    
</body>
<%- include('./partials/footer.ejs') %>
