<%- include('../partials/header.ejs')%>
<style>
        footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    }   
    </style>
        <h3><%= error.status%> Error</h3> 
        <p><%= error.message%> </p>
</body>
<%- include('../partials/footer.ejs') %>
</html>